.container {
  padding: 0 2rem;
}

.main {
  min-height: 50vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #ffff;
  border: 2px solid red;
  border-radius: 4px;
  color: red;
  font-weight: bolder;
  text-align: center;
}

.btn:hover{
  background: red;
  color: white;
  transition: color 0.15s ease, background 0.55s ease;
}